
nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }

header {
    background-color: rgba(15, 52, 96, 0.9);
    width: 105%;
    position: fixed;
    z-index: 1000;
    height: 20px;
    top: 0;
}

.links {
    display: flex;
    gap: 2rem;
    align-items: center;
    
}
.links a {
    text-decoration: none;
    color: white;
}
.links a:hover {
    color: grey;
}
nav {
    background-color:#052B3C;
}
.nav_buttons {
    display: flex;
    gap: 1rem;
    text-decoration: none;
}
.login {
    background: transparent;
    color: #8B7AD8;
    border: 2px solid #8B7AD8; }
.sign_up {
    background: #0F3460;
    color: white;
}
.button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    font-weight: 500;
}
.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(139, 122, 216, 0.3);

}

#hero {
    background: #46355B ;
    opacity: 0.9;
   
    
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    align-items: center;
    overflow:hidden;
    height: 100vh;
}
.startup_name {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: #8D99E6;
     
    
}#hero p{
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 2rem;
    margin-left: auto; 
    margin-right: auto; 
}
.get_started {
    background-color: #052B3C;
    color: white;
    font-size: 1.2rem;
    border-radius: 20px ;
    padding: 1rem 2rem;
    
}
a {
    text-decoration: none;
}

.section_title {
    text-align: center;
    align-items: center;
    font-size: 36px;
    line-height: 1.2;
    color: #8D99E6;
    margin-bottom: 3rem;
}
.about_us h2 {
    font-size: 36;
    line-height: 1.2px;
    color: #8D99E6;
    letter-spacing: 3%;
}
#about{
    background: #46355B;
}
#product_slide {
    background: #46355B;
}
#testimonials {
    background: #46355B;
   

}
#values {
    background: #46355B;
  
}
.body{
    background-color: #46355B;
}
#faq{
    background: #46355B;
    
}
#team{
    background: #46355B;
   
}
#chatbot {
    background: #46355B;
    
}
#contact_us{
    background: #46355B;
    

}

.about_us p {
   
    letter-spacing: 0.3px;
    font-size: 18;
}
.origin h2 {
    color: #8D99E6;
    font-size: 36px;
    letter-spacing: 0.5px;
   
}
.origin p{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.3px;
}
.about_grid {
    background: #46355B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.about_us h2 {
    font-size: 36px; 
    line-height: 44px;
    color: #8D99E6;
    letter-spacing: 0.03em; 

}
.about_us p {
    letter-spacing: 0.3px;
    font-size: 18px; 
}
.about_us {
    background-color: #f8f8f8; /* Light background for distinction */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#about {
    background: ;
}
.origin {
    background-color: #f8f8f8; /* Light background for distinction */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.product {
    border-radius: 16px ;
    text-align: center;
    padding: 2rem;
    background-color: #8D99E6 ;
    width: 400px;
    height: 220px;
    padding: 2rem;
}
.product_icon {
    width: 60px;
    height: 60px;
    display: flex;
    margin: 0 auto 1rem;
}
.product .h3{
    font-size: 28px;
    line-height: 1.2;

}
.product  p {
    font-size: 14px;
    
}
.product_text {
    width: 390px;
    height: 200px;
}
.products_grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
}
.team_grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.member {
    background-color: #8C8892;
    border-radius: 24px;
    text-align: center;
    padding: auto;
}
.role {
    font-size: 18px;

}
.jd {
    font-size: 15;
}
.member h4 {
    font-size: 22;
}
.testimonial_grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}
.testimonial_card {
    background-color: #8C8892;
    border-radius: 16px;
    text-align: center;
    padding: 2rem;

}
.values_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;

}
.value_icon {
    width: 160px;
    height: 160px;
}
.value {
    padding: 2rem;

}
.value  h3{
    font-size: 24;

}
#faq {
    padding: 3rem 1rem;
}
.accordion-container {
    max-width: 800px;
    margin: 0 auto;
    border: 1px;
    border-radius: 8px;
    overflow: hidden;
}
.accordion-item {
    border-bottom: 1px solid;
}
.faq {
    text-align: left;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.2rem 1.5rem;
    color: black;

}
.answer p{
    line-height: 1.6;
    color : white;
    margin: 0 0 1rem 0;

}

#chatbot {
    text-align: center;
    padding: 3rem;
}
.instruction {
    font-size: 1.1rem;
    color: black;

}
.chat_area {
    background-color: #8D99E6;
    border-radius: 12px;
    max-width: 650px;
    height: 700px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
   
}
.chat_input {
    display: flex;
    gap: 1rem;
    margin-bottom: 0;
    margin-top: auto;

}
.chats {
    flex-grow: 1; 
    overflow-y: auto; 
    padding-bottom: 1rem; 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    padding: 10px;
}
.chat_input input{
    flex: 1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #423354;
    outline: none;

}


.message.bot {
    background-color: black;
    color: white;
    justify-self: left;
    border-radius: 10px;
    width:fit-content;
    height: min-content;
    text-align: left;

}
.message.user {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: auto;
    height:30px;
    text-align: right;
    justify-self:right;
}
.message {
    height: max-content;
    width: auto;
    padding: 10px 15px;
    border-radius: 18px;
}
.chat_input button {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.contact_form {
    max-width: 650px;
    background: #8D99E6;
    border-radius:16px ;
    padding: 2rem;
    border-radius: 16px;
    margin : 0 auto; 
}
.form_part {
    margin-bottom: 0.5rem;
}
.form_part label {
    display: block;
    margin-bottom: 0.5rem;
    color: black;
}
.form_part input,
.form_part textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #052B3C;
    color: white;
    outline: none;
    padding: 1rem;
}
.form_part textarea {
    height: 144px;
    resize: vertical;
}
.send_button {
    background: #052B3C;
    cursor: pointer;
    color: white ;
    font-size: 16px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 200px;
    width: 160px;
    height: 60px;
    display: block;
    margin: 0 auto;
}
.send_button:hover {
    background: #1A4A7A;
    transform: translateY(-2px);
}

/* FOOTER */
footer {
    background: #052B3C;
    text-align: center;
    margin-top: 3rem;
    padding: 2rem, 0;
    color: white;
}
.contact_links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.contact_links img {
    width: 35px;
    height: 35px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.contact_links img:hover {
    transform: translateY(-2px);
    background-color:  #1A4A7A;
    border-radius: 10px;
}
